/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Hind', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
#portnavbar .nav-link::after{
    content: '';
    width: 0;
    height: 5px;
    transition: all .5s;
    background-color: #35a22c;
    display: block;
}

#portnavbar .nav-link:hover::after{
    width: 100%;
}
#portnavbar .active .nav-link::after{
    width: 100%;
}

/* Carousel */
/* B1 chỉnh avatar */
.portAvatar{
    width: 140px;
    border-radius: 50%;
}
/*B2 chỉnh hình nền */
/* vw: viewport width: thường dùng cho font size, vùng nội dung quan trọng ( sogon, banner...) 
vh: viewport height=> đơn vị theo kích thước trỉnh duyệt*/
#portCarouselID .carousel-item{
    height: 100vh;/*100vh bằng 100% kích thước màn hinh hiển thị trên trình duyệt*/
}
#portCarouselID .carousel-item>img{
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
/* B3 chỉnh caption giữa */
#portCarouselID .carousel-caption{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#portCarouselID .carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#portCarouselID .carousel-indicators  li.active {
    background-color: #35a22c;
}
    

